@charset "UTF-8";
/* line 1, ../sass/login.scss */
body, html {
  background: #b1ddab;
  height: 100%;
}

/* line 5, ../sass/login.scss */
h1 {
  height: auto;
  display: table;
  width: 80%;
  text-align: center;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 3em;
}

/* line 20, ../sass/login.scss */
h2 {
  position: fixed;
  text-align: center;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  font-weight: normal;
  z-index: 999;
}
/* line 30, ../sass/login.scss */
h2 span {
  font-size: 15px;
  font-weight: lighter;
}
/* line 34, ../sass/login.scss */
h2 a {
  color: white;
  font-size: 15px;
  padding: 0 30px;
}

/* line 42, ../sass/login.scss */
.bg-panel {
  width: 30%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 20px 20px 20px;
  z-index: 999;
}

@media (max-width: 768px) {
  /* line 54, ../sass/login.scss */
  .bg-panel {
    width: 90%;
    height: 500px;
    margin-top: 20px;
  }
}
@media (max-height: 500px) {
  /* line 61, ../sass/login.scss */
  .bg-panel {
    height: 90%;
    margin-top: 20px;
  }
}
/* line 66, ../sass/login.scss */
.absolute-Center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

/* line 73, ../sass/login.scss */
.panel-head {
  height: 20%;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-right-radius: 150%;
  border-bottom-left-radius: 150%;
  text-align: center;
  font: "微软雅黑";
  font-size: 50px;
  margin-bottom: 40px;
}

/* line 83, ../sass/login.scss */
.login-box-msg {
  margin: 0;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

/* line 89, ../sass/login.scss */
.form-group {
  margin-bottom: 40px;
}
.loginB{
  width: 66.66666667%;
  text-align:center;
}
.loginB span{
  padding-top: 10px;
}
.btn-basic{
  color: #fff;
  background-color: #81c782;
  border-color:#81c782;
}
.btn-basic:hover{
  color: #fff;
  background-color: rgba(76, 175, 80, 0.76);
  border-color:#81c782;
}